{% extends 'blog/base.html' %}

{% block title %}
Learn Python 
{% endblock %}

{% block body %}

<h2>Learning Python Easiest Way</h2>
<h3 style="color: indigo;">Our Syllabus</h3>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h5>
                1 Python Training Overview<br>
                    1.1 What are the Python Course Pre-requisites<br>
                    1.2 Objectives of the Course<br>
                    1.3 Who should do the course<br>
                    1.4 Python Training Course Duration<br>
            </h5>
        </div>
        <div class="col-sm">
            <h5>
                2 Python Course Content<br>
                2.1 Core Python<br>
                    2.1.1 Introduction to Languages<br>
                    2.1.2 Introduction to Python<br>
                    2.1.3 Python Software’s<br>
                    2.1.4 Python Language Fundamentals<br>
                    2.1.5 Different Modes of Python<br>
                    2.1.6 Python Variables<br>
                    2.1.7 Operators<br>
                    2.1.8 Input & Output Operators<br>
                    2.1.9 Data Structures or Collections<br>
                    2.1.10 List Collection<br>
                    2.1.11 Tuple Collection<br>
                    2.1.12 Set Collection<br>
                    2.1.13 Dictionary Collection<br>
                    2.1.14 Functions<br>
                2.2 Advanced Python<br>
                    2.2.1 Python Modules<br>
                    2.2.2 Packages<br>
                    2.2.3 OOPs<br>
                2.3 PANDAS<br>
                2.4 NUMPY<br>
            </h5>
        </div>
    </div>
</div>

{% endblock body %}