

{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
   Login page
{% endblock %}

{% block body %}
   <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-5 pb-2"> Sign IN</legend>
              <table>
                 {{ form|crispy }}
              </table>
          </fieldset>
          <div  class="form-group">
              <button type="submit" class="btn btn-outline-info">Login</button>
               <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}" class="btn btn-outline-success">Forget Password</a>
              </small>
          </div>


      </form>
       <div class="border-top pt-3">
           <small class="text-primary">
               Do you need an Account ?
               <a href="{% url 'register' %}" class="ml-2">Register</a>
           </small>
       </div>
   </div>
{% endblock %}