

{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
   Password reset Confirm
{% endblock %}

{% block body %}
   <div class="content-section">
      <form method="POST">
          {% csrf_token %}

          <fieldset class="form-group">
              <legend class="border-bottom mb-5 pb-2"> Reset Password</legend>
              <table>
                 {{ form|crispy }}
              </table>
          </fieldset>

          <div  class="form-group">
              <button type="submit" class="btn btn-outline-info">Reset Password</button>
          </div>

      </form>

   </div>
{% endblock %}